.cookie-container {
  background-color: white;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #000000;
    color: #f5f6fa;
    padding: 0 32px;
    display: block;
    transition: 400ms;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }